{% extends 'base.html' %}

{% block title %}Companies comparing | Smart Invest{% endblock %}

{% block content %}
<div class="hero container mx-auto px-4 pt-10 pb-10 md:pt-24 grid sm:grid-cols-2 content-center ">
    <div class="hero-content py-4 place-content-center">
        <h1 class="text-4xl md:text-5xl pb-6 font-bold text-primary">Correlation and
            covariation</h1>
        <p class="text-lg font-light text-secondary pb-2">Analyzing the correlation and covariation between the
            stocks in our portfolio helps us understand how different
            securities move in relation to each other. </p>
        <p class="text-lg font-light text-secondary pb-2">High positive correlation indicates that the stocks
            tend
            to move in the same
            direction, which can increase portfolio risk, while low or negative correlation can help diversify
            and reduce overall
            risk. </p>
        <p class="text-lg font-light text-secondary pb-8">By assessing these metrics, we can strategically
            balance our investments to optimize returns
            while managing risk
            effectively.</p>
        <a href="#analysis" class="btn w-full md:w-fit">Learn more</a>
    </div>
    <div class="flex justify-center py-4"><img class="w-auto self-center"
            src="{{ url_for('static', filename='img/girl-laptop.png') }}" alt="girl-laptop">
    </div>
</div>
<div class="container mx-auto companies grid lg:grid-cols-3 gap-8 px-4 mb-8">
    {% if message %}
    <p class="text-red_500">{{ message }}</p>
    {% elif ticker_data %}
    {% for symbol, data in ticker_data.items() %}
    <div class="company bg-white shadow p-3 sm:p-6 rounded-xl">
        <div
            class="company-header flex justify-between items-end w-full space-x-4 pb-4 mb-4 border-b border-border_light">
            <div class="inline-flex space-x-4 "><img class="max-w-10 max-h-12" src={{data.img_url}} alt="blackrock">
                <div class="name flex flex-col ">
                    <p class="font-bold text-primary text-xl">{{ symbol }}</p>
                    <p class="text-secondary font-normal">BlackRock Inc.</p>
                </div>
            </div>
            <div class="day pb-1">
                <p class="font-medium text-primary text-xs capitalize">latest trading day</p>
                <p class="text-secondary font-normal text-sm ">{{data.latest_trading_day}}</p>
            </div>
        </div>
        <div class="stocks-info flex justify-between space-x-4">
            <div class="stock">
                <p class="text-secondary text-xs capitalize pb-1">Price</p>
                <p class="text-primary font-medium text-xl">{{data.price}}</p>
            </div>
            <div class="stock">
                <p class="text-secondary text-xs capitalize pb-1">Change</p>
                <p class="text-primary font-medium text-xl">{{data.change}}</p>
            </div>
            <div class="stock">
                <p class="text-secondary text-xs capitalize pb-1">Volume</p>
                <p class="text-primary font-medium text-xl">{{data.volume}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container mx-auto px-4" id="analysis">
    <h2 class="text-3xl md:text-4xl py-6 text-primary font-bold text-center">BLK & MSFT</h2>
    <div class="blk-msft mb-12 grid xl:grid-cols-2">
        <div class="stocks-chart"><iframe src="{{ url_for('plot_blkMsftStocks') }}" width="100%" height="400"></iframe>
        </div>
        <div class="stocks-chart-moving"><iframe src="{{ url_for('plot_blkMsftMovingAverage') }}" width="100%"
                height="400"></iframe>
        </div>
        <div class="covariation-chart">
            <iframe src="{{ url_for('plot_blkMsftCovariance') }}" width="100%" height="400"></iframe>
        </div>
        <div class="correlation-chart">
            <iframe src="{{ url_for('plot_blkMsftSlidingCorrelation') }}" width="100%" height="400"></iframe>
        </div>
    </div>

    <h2 class="text-3xl md:text-4xl py-6 text-primary font-bold text-center">MSFT & ISRG</h2>
    <div class="isrg-msft  grid xl:grid-cols-2">
        <div class="stocks-chart"><iframe src="{{ url_for('plot_isrgMsftStocks') }}" width="100%" height="400"></iframe>
        </div>
        <div class="stocks-chart-moving"><iframe src="{{ url_for('plot_isrgMsftMovingAverage') }}" width="100%"
                height="400"></iframe>
        </div>
        <div class="covariation-chart">
            <iframe src="{{ url_for('plot_isrgMsftCovariance') }}" width="100%" height="400"></iframe>
        </div>
        <div class="correlation-chart">
            <iframe src="{{ url_for('plot_isrgMsftSlidingCorrelation') }}" width="100%" height="400"></iframe>
        </div>
    </div>

</div>

{% endblock %}