@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Inter", sans-serif;
    src: url(static/fonts/Inter-Regular.ttf) format("ttf");
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
}
html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #63707d;
}
.btn {
  background-color: #0066ff;
  border-radius: 0.5rem;
  color: #fff;
  display: inline-block;
  font-size: small;
  padding: 0.7rem 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.btn:hover {
  background-color: #0038ff;
  transition: all 0.3s ease-in-out;
}
.gl-tab > div:last-child {
  border-bottom: none;
}
